body,
html,
a {
  font-family: -apple-system, BlinkMacSystemFont, 'monospace';
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow-x: hidden;
}
a:hover {
  color: #222323;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'monospace', monospace;
  color: #222323;
  font-size: 2.575rem;
  line-height: 3.0625rem;

  @media only screen and (max-width: 414px) {
    font-size: 1.625rem;
  }
}
p {
  color: #343d48;
  font-size: 1.125rem;
}
h1 {
  font-weight: 600;
}

*:focus {
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #e16956;
  :hover {
    color: #e16956;
  }
}
